<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="QDeck"
    Manufacturer="qdeck-app"
    Version="$(var.ProductVersion)"
    UpgradeCode="8575b69c-0f6a-4389-b5e0-aae9b4fc20b8"
    Scope="perMachine">

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of QDeck is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="$(var.IconPath)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="QDeck">
        <Component Id="MainExecutable" Guid="5ed70e76-3b0c-459a-bb42-de6428da9c89">
          <File Id="QDeckExe"
                Source="$(var.ExePath)"
                KeyPath="yes" />
        </Component>
        <Component Id="LicenseFile" Guid="82c8cff7-35e3-4738-ab79-02b6b29f25a1">
          <File Id="LicenseFile"
                Source="$(var.LicensePath)"
                KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="StartMenuShortcut" Guid="373a070d-212a-46d3-bf4c-c57622c4d6b3">
        <Shortcut Id="QDeckShortcut"
                  Name="QDeck"
                  Target="[INSTALLFOLDER]QDeck.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon" />
        <RegistryValue Root="HKCU"
                       Key="Software\QDeck"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="CleanupStartMenu" On="uninstall" />
      </Component>
    </StandardDirectory>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="LicenseFile" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>

    <CustomAction Id="LaunchApplication"
                  ExeCommand=""
                  FileRef="QDeckExe"
                  Impersonate="yes"
                  Return="asyncNoWait" />
    <InstallExecuteSequence>
      <Custom Action="LaunchApplication" After="InstallFinalize"
              Condition="NOT Installed OR REINSTALL OR UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>
  </Package>
</Wix>
